
/* .container{ 
    background-color: yellow;
    color: green;
}
image{
    width: 10px;
} */
body {
    background-color: rgb(11, 27, 64);
  }
  .container {
    border: 2px solid black;
    width: 300px;
    padding-left: 10px;
    box-shadow: 5px 10px black;
    height: 85%;
    background-color: yellow;
  }
  main {
    display: flex;
    justify-content: center; 
    min-height: 100vh;
  }
  .container button {
    background-color: aqua;
    color: black;
    font-size: 25px;
    margin-left: 25px;
    margin: 10px;
    border-radius: 10px;
  }
  .container .person {
    display: flex;
  }
  .container .person img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
  